<div class="book-details-container" *ngIf="book">
  <div class="book-cover">
    <img [src]="book.imageUrl" alt="{{ book.title }}" class="book-cover-image">
  </div>
  <div class="book-info">
    <h1 class="book-title">{{ book.title }}</h1>
    <p class="book-author"><strong>{{ 'AUTHOR' | translate }}</strong> {{ book.author }}</p>
    <p class="book-publishedDate"><strong>{{ 'PUBLISHED_DATE' | translate }}</strong> {{ book.publishedDate }}</p>
    <p class="book-pageCount"><strong>{{ 'PAGE_COUNT' | translate }}</strong> {{ book.pageCount }}</p>
    <p class="book-averageRating"><strong>{{ 'AVERAGE_RATING' | translate }}</strong> {{ book.averageRating || 'No rating' }}</p>
    <div class="book-description">
      <h2>{{ 'DESCRIPTION' | translate }}</h2>
      <p>{{ book.description }}</p>
    </div>
    <a [href]="book.previewLink" target="_blank" class="book-preview-link">{{ 'PREVIEW' | translate }}</a>
  </div>
</div>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
