<div class="list-container">
  <div class="book-card" *ngFor="let book of wishList">
    <div class="book-thumbnail">
      <a [routerLink]="['/book-details', book.$id]">
        <img
          [src]="book.imageUrl || 'assets/no-image.png'"
          alt="{{ book.title }}"
        />
      </a>
    </div>
    <div class="book-info">
      <a [routerLink]="['/book-details', book.$id]">
        <h3>{{ book.title }}</h3>
      </a>
      <p>{{ book.author }}</p>
    </div>
    <div class="actions">
      <button mat-button (click)="removeFromWishList(book)">
        Remove from Wishlist
      </button>
    </div>
  </div>
</div>
