<div class="search-container">
  <input matInput [(ngModel)]="bookTitle" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}" (keyup.enter)="searchBooks()" class="search-input">
  <input matInput [(ngModel)]="authorName" placeholder="{{ 'AUTHOR_PLACEHOLDER' | translate }}" (keyup.enter)="searchBooks()" class="search-input">
  <button mat-icon-button color="primary" (click)="searchBooks()" class="search-button">
    <mat-icon>search</mat-icon>
  </button>
</div>

<div class="results-container">
  <div class="result-card" *ngFor="let book of books">
    <div class="book-thumbnail">
      <img *ngIf="book.volumeInfo.imageLinks?.thumbnail" 
           [src]="book.volumeInfo.imageLinks.thumbnail" 
           alt="{{ book.volumeInfo.title }}">
      <img *ngIf="!book.volumeInfo.imageLinks?.thumbnail" 
           src="../../assets/no-image.png" 
           alt="No Image Available">
    </div>
    <div class="book-info">
      <h3>{{ book.volumeInfo.title }}</h3>
      <p>{{ book.volumeInfo.authors?.join(', ') }}</p>
    </div>
    <div class="actions">
      <button mat-button (click)="addToReadList(book)">Thêm vào danh sách đã đọc</button>
      <button mat-button (click)="addToWishList(book)">Thêm vào danh sách sẽ đọc</button>
    </div>
  </div>
</div>
