.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-background-color);
  padding: 10px;
  color: var(--text-color);
}

.nav-links a {
  margin-right: 20px;
  text-decoration: none;
  color: var(--text-color);
}

.user-info {
  display: flex;
  align-items: center;
}

.language-switcher {
  margin-left: 10px;
}

.logout-button {
  margin-left: 10px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .nav-links a {
    margin: 10px 0;
  }

  .user-info {
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .user-info span,
  .logout-button,
  .language-switcher {
    margin-top: 5px;
  }

  .language-switcher {
    margin-left: 0;
  }

  .search-container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .search-input,
  .search-button {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Light theme */
:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --navbar-background-color: #3f51b5;
  --button-background-color: #3f51b5;
  --button-text-color: #ffffff;
}

/* Dark theme */
.dark-mode {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --navbar-background-color: #1f1f1f;
  --button-background-color: #6200ee;
  --button-text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}
