.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-background-color);
  padding: 10px;
  color: var(--text-color);
}

.menu-icon {
  display: none;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

/* Responsive design */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #1f1f1f; /* Dark background for dropdown */
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 10px;
    gap: 15px;
    border-top: 1px solid #333; /* Optional: adds a separator line for clarity */
  }

  .nav-links a {
    color: #ffffff; /* White text for dropdown links */
  }

  .menu-open {
    display: flex;
  }

  .menu-icon {
    display: block;
  }

  .user-info {
    justify-content: flex-end;
    width: 100%;
  }

  .user-info .menu-icon {
    margin-right: auto;
  }
}
