<nav class="navbar">
  <div class="menu-icon">
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="nav-links" [class.menu-open]="menuOpen">
    <a routerLink="/search">{{ 'SEARCH' | translate }}</a>
    <a routerLink="/read-list">{{ 'READ_LIST' | translate }} ({{ readListCount }})</a>
    <a routerLink="/wish-list">{{ 'WISH_LIST' | translate }} ({{ wishListCount }})</a>
  </div>
  <div class="user-info">
    <ng-container *ngIf="!user">
      <button mat-raised-button color="primary" (click)="login()">
        <mat-icon>login</mat-icon>
        {{ 'LOGIN' | translate }}
      </button>
    </ng-container>
    <ng-container *ngIf="user">
      <mat-icon>account_circle</mat-icon>
      <span>{{ 'WELCOME' | translate }}, {{ getFirstName(user.name) }}</span>
      <button mat-raised-button class="logout-button" (click)="logout()">
        {{ 'LOGOUT' | translate }}
      </button>
      <button mat-icon-button [matMenuTriggerFor]="languageMenu">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #languageMenu="matMenu">
        <button mat-menu-item (click)="switchLanguage('en')">English</button>
        <button mat-menu-item (click)="switchLanguage('vi')">Tiếng Việt</button>
        <button mat-menu-item (click)="switchLanguage('fr')">Français</button>
      </mat-menu>
      <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>
    </ng-container>
  </div>
</nav>
